# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
.env
venv
.venv
# PyCharm
.idea/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs and databases
*.log
*.sqlite3

# Temporary files
*.tmp
*.bak
*~

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Mypy
.mypy_cache/
.dmypy.json

# Other
*.swp


raw.opus
speech.ogg
temp_voice.ogg
__pycache__
